{% extends "layouts/main.html" %}

{% set pageName = "When should your bin have been collected?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["collection-date"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["collection-date"], href: "#collection-date" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukInput({
      id: "collection-date",
      name: "collection-date",
      label: {
        text: "When should your bin have been collected?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "For example, 27 3 2024." },
      errorMessage: errors["collection-date"] if errors else null,
      value: data["collection-date"]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
