{% extends "layouts/main.html" %}

{% set pageName = "Report a missed bin collection" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Report a missed bin collection</h1>
    <p class="govuk-body">Use this service to report when your household waste or recycling bin was not collected.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your address</li>
      <li>the date your bin should have been collected</li>
      <li>what type of bin was missed</li>
    </ul>
    <p class="govuk-body">It takes around <strong>5 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/bin-type",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
